.auth-button{
    position: absolute;
    right: 20px;
}
body::after {
  background: url(../background.jpeg);
  background-size: cover;
  content: "";
  opacity: 0.9;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.main-teaser{
    color:white;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    background: #555;
    padding: 15px;
    margin-top: 100px;
}
.main-teaser form{
    display:flex;
    flex-direction:column;
}
.main-teaser label{
    align-self: flex-start;
}
.main-teaser *{
    margin-top: 10px;
}