<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/components :: head"></div>
</head>
<body>

<div th:replace="fragments/components :: header"></div>


<div class="jumbotron main-teaser">
    <h1 class="display-4">Admin page</h1>

    <table class="table table-light">
        <thead>
            <tr>
                <!--TODO Currently not real fields. Password and id should not be present-->
                <th scope="col">Id</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>