<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="fragments/components :: head"></div>
</head>
<body>

<div th:replace="fragments/components :: header"></div>

<div class="jumbotron main-teaser">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">This is currency exchange exercise.</p>
    <p class="lead">
        <a sec:authorize="isAnonymous()" th:href="@{login}" class="btn btn-primary" role="button">Login</a>
        <a sec:authorize="isAnonymous()" th:href="@{signup}" class="btn btn-info" role="button">Sign up</a>
        <a  sec:authorize="hasRole('USER')" th:href="@{exchange}" class="btn btn-info" role="button">To Exchange</a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{admin}" class="btn btn-info" role="button">To Admin page</a>
    </p>
</div>

</body>
</html>